*{{ .CommonAnnotations.summary }}*
{{ if eq .Status "firing" }}⚠{{ else }}✅{{ end }} `{{ .CommonLabels.instance }}`
{{ range .Alerts }}
{{- if .Labels.name }}▪ *name:* {{ .Labels.name }}{{ end }}
{{ end }}
